{%extends "base.html"%}
  {%block content%}
  {%block title%}Paste History{%endblock%}
  

{% if p %}
<table class="table table-bordered">
  <tr>
        <th>Title</th>
        <th>URL</th>
        <th>Created On</th>
    </tr>
    {% for i in p %}
    <tr class="success">
        <td>{{i.title}}</td>
        <td>http://{{url}}/{{i.url}}</td>
        <td>{{i.created_on}}</td>
    </tr>
    {%endfor%}
</table>



{% endif%}
{% if error %}
<p class="text-danger" align="center">{{error}}</p>
{% endif %}
{%endblock%}






